<div class="home-container">
  <div class="home">
    <div class="name-container">
      <b>Vasilis Gadala</b>
    </div>
    <div class="skill-outer-container">
      <div class="skill-container">
        <div class="skill-wrapper" *ngIf="currentSkill" [@slideAnimation]>
          <p style="font-size: 2rem">{{ currentSkill }}</p>
        </div>
      </div>
    </div>
    <div class="social-container">
      <a class="image" href="mailto:vasilisgadala@gmail.com">
        <img src="assets/mail-logo.png" alt="E-Mail" class="social-icon" style="margin-top: 1rem">
      </a>
      <a href="https://github.com/vasilisgadala" target="_blank">
        <img src="/assets/pngegg.png" alt="GitHub" class="social-icon">
      </a>
      <a href="https://www.linkedin.com/in/vasilis-gadala" target="_blank">
        <img src="/assets/icons8-linkedin-100.png" alt="LinkedIn" class="social-icon">
      </a>
    </div>
  </div>
  <div class="self-portrait">
    <div class="circle"></div>
  </div>
</div>