.navbar {
  --navbar_height: 8vh;
  --navbar_width: 50vw;
  width: var(--navbar_width);
  height: var(--navbar_height);
  border: 1px solid gray;
  border-radius: calc(var(--navbar_height) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: black;
}

.navbar-text {
  color: #ffffff; /* change color to D2B48C for whichever panel I am on */
  font-size: 1.375rem; /* 22px / 16 = 1.375rem */
  padding: 1.25rem; /* 20px / 16 = 1.25rem */
}

@media (max-width: 932px) {
  .navbar {
    --navbar_width: 100vw;
    --navbar_height: max(8vh, 70px);
  }
}
