.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.home {
  color: white;
  height: 100vh;
  width: auto;
  display: flex;
  align-content: center;
  margin-left: 10vw;
  position: relative;
}

@media (max-width: 1400px) {
  .home {
    margin-left: 0;
    padding-top: 20px;
    overflow: hidden;
  }
}