<div class="resume-container">
    <h2>Resume</h2>
    <a href="https://github.com/vasilisgadala" target="_blank">
        <img src="/assets/download-regular-240.png" alt="GitHub" class="resume-icon">
    </a>
    <div class="resume-item-container" style="padding-top: 50px;">
        <div class="item-left" style="padding-top: 50px;">
            <h3>Google Software Engineering Intern</h3>
            <p>May 2024 - August 2024</p>
        </div>
        <div class="item-right" style="padding-top: 40px;">
            <h4>Augmented backend financial frameworks responsible for RPC to SQL translation.
            Developed 3 features that have been onboarded to enable refined data access.
            Created generic design utilizing the Command and Builder Design patterns, reducing
            invoking code by 30% and better enforcing file policies.
            Gained experience developing features immediately required by other engineers.
        </h4>
        </div>
    </div> 
    <div class="resume-item-container">
        <div class="item-left">
            <h3>Wayfair Software Engineer Co-op</h3>
            <p>January 2023 - June 2023</p>
        </div>
        <div class="item-right">
            <h4>
                Backend Software Engineer working on Supplier APIs. 
                Primarily focused in relaying data from APIs to databases to identify benefits, usage, and common failure points. 
                Developed skills in Java SpringBoot, PHP, SQL, and general backend development in an AGILE CI/CD environment. 
            </h4>
        </div>
    </div> 
    <div class="resume-item-container">
        <div class="item-left">
            <h3>Teaching Assistant - Object Oriented Design</h3>
            <p>September 2022 - December 2022</p>
        </div>
        <div class="item-right">
            <h4>Individually hosted a 19-person lab and reinforced concept knowledge during office hours. 
                Graded homework and exams and collaborated with peers and faculty to best deliver course material.
            </h4>
        </div>
    </div> 
    <div class="resume-item-container">
        <div class="item-left">
            <h3>Aragon High School Robotics CAD Engineer</h3>
            <p>September 2017 - June 2021</p>
        </div>
        <div class="item-right">
            <h4>Led CAD design of the drivetrain for our FTC robotics team. Developed over 20 parts with over 50 total iterations. 
                Team qualified for the FTC World Championship in 2021.
            </h4>
        </div>
    </div> 

</div>
