.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding-top: 60px;
}

h2 {
    font-size: 3rem;
    color: #ffffff; /* D2B48C */
    padding: 10px;
}
  
p {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #999999;
    text-align: left;
}

h3 {
    font-size: 2rem;
    color: #D2B48C;
    padding-bottom: 1rem;
}

.resume-icon, .resume-item-logo {
    width: 5rem;
    height: 5rem;
}

.resume-item-logo-container {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.resume-item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    position: relative; /* Add this */
    p {
        padding-bottom: 3rem;
    }
    h4 {
        padding-bottom: 3rem;
    }
}

/* Add this new rule for the vertical line */
.resume-item-container::before {
    content: '';
    position: absolute;
    padding-top: 50px;
    left: 45%; /* Adjust this value to match your layout */
    height: 100%;
    width: 0.06rem;
    background-color: #999999;
}

.item-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 2.25rem;
    /* Remove the border-right property from here */
}

.item-right {
    width: 55%;
    height: 100%;
    padding-left: 2.25rem;
}

/* Add this new class */
.desktop-padding {
    padding-top: 3rem;
}

.item-right.desktop-padding {
    padding-top: 3rem;
}

@media (max-width: 768px) {
    .resume-item-container {
        flex-direction: column;
        width: 90%;
        p {
            padding: 0;
        }
        h4 {
            padding-bottom: 3rem;
        }
    }
    .resume-item-container::before {
        display: none; /* Hide the vertical line on mobile */
    }
    .item-left {
        width: 100%;
        padding-bottom: 0px;
    }
    .item-right {
        width: 100%;
        padding-left: 0px;
    }
    /* Remove desktop padding in mobile view */
    .desktop-padding {
        padding-top: 0;
    }
    .item-left, .item-right {
        padding-top: 1rem; /* Add some consistent padding for mobile */
    }
}

