<div class="navbar">
  <p class="navbar-text"
     [ngClass]="{'active': activeSection === 'home'}"
     (click)="scrollTo('home')">Home</p>
  <p class="navbar-text"
     [ngClass]="{'active': activeSection === 'about'}"
     (click)="scrollTo('about')">About</p>
  <p class="navbar-text"
     [ngClass]="{'active': activeSection === 'experience'}"
     (click)="scrollTo('experience')">Experience</p>
  <p class="navbar-text"
     [ngClass]="{'active': activeSection === 'projects'}"
     (click)="scrollTo('projects')">Projects</p>
</div>
